@mixin transit($effect, $s) {
    -webkit-transition: $effect $s ease-in-out;
    -moz-transition: $effect $s ease-in-out;
    -o-transition: $effect $s ease-in-out;
    transition: $effect $s ease-in-out;
}

@mixin radius($r) {
  border-radius: $r;
  -moz-border-radius: $r;
  -webkit-border-radius: $r;
}

@mixin inline-block {
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  *display: inline;
  *vertical-align: auto;
}